<h1>ユーザー一覧</h1>
<% @users.each do |user| %>
  <%= link_to "#{user.nickname}", user_path(user.id) %>
  <%= render 'relationships/follow_button', user: user %>
  <hr>
<% end %>

<%= link_to "ユーザー詳細ページへ戻る", user_path(current_user.id) %>
<%= link_to "ホームへ戻る", root_path %>