%footer.navbar-expand-lg.bg-dark.text-center.text-white.mt-5
  .text-center.p-3{:style => "background-color: rgba(0, 0, 0, 0.2);"}
    Copyright ©️ 2021 Soshi Kono
    %a.text-white{:href => "https://mdbootstrap.com/"}