%nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
  .container-fluid
    .row
      = link_to root_path, class: "navbar-brand mr-5 logo" do
        %span.material-icons
          sports_bar
          居酒屋レシピ
