%footer.second-fotter
  .second-fotter-text-wrap
    %p.second-fotter-text プライバシー
    %p.second-fotter-text 利用規約
    %p.second-fotter-text ヘルプ
    %p.second-fotter-text IzakayaRecipe

%footer.navbar-expand-lg.bg-dark.text-center.text-white
  .text-center.p-3{:style => "background-color: rgba(0, 0, 0, 0.2);"}
    Copyright ©️ 2021 Soshi Kono
    %a.text-white{:href => "https://mdbootstrap.com/"}